body{
    background-color: rgb(224, 30, 30);
    text-align: center;
    
}

header{
    background-color: rgb(206, 252, 2); 
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a{
    color: #000;

 }

section{
    
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
    
}


footer{
    background-color:  rgb(224, 30, 30);
    font-family: Comic Sans MS, Comic Sans, cursive;
   
}